{% extends 'layout.html' %}
{% block content %}


<div class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-4">
      <img src="./../static/maps.png" class="center" height="142" width="142">
    </div>

    <div class="col-sm-4">
      <p></p>
      <p></p
      <center> Address: 7 Glavani – 28th October Str<br>
          Deligiorgi Building, 4th floor - <br>
          382 21 Volos – Greece
          <hr>
        <br> Email: info@shopmanager.gr <br>
          <hr>
      </center><br>

      </p> 	
    </div>
  </div>
</div>
{% endblock %}
