{% extends 'layout.html' %}
{% block content %}
<div class="container" style="margin-top:30px">
  <div class="row">   
    
    <div class="col-sm-8">
      <h2>Application Release v1.0</h2>
      <h5>Sep 4, 2019</h5>
<div class="img"><img src="./../static/news.jpeg"></div>

      <p>
        Phone Application is available on App Store. Add new order , select order and complete order. Communicates with web page. Feedback is more than welcome at info@shopmanager.com
      </p>
      <br>

      <h2>Web Release</h2>
      <h5>Sep 2, 2019</h5>
      <div class="img"><img src="./../static/news.jpeg"></div>
        <p>
          Now you can monitor orders , search for older orders and update them. You can also check availability of products , add products and change prices. You can manage and monitor your employees
        </p>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
  <p> @Copyright Evangelos Foufikos </p>
</div>

{% endblock %}
