{% extends 'layout.html' %}
{% block content %}
    <div class="container">
      <h2>Table</h2>
      <label>All Tables </label>
      <!-- Table with alternating cell background color and outer frame -->
      <div id=selectTables class="col-md-4"></div>
      <script type="text/javascript">
        $(function(){
          
          var shop_id = localStorage.getItem('shop_id');
        
          $.ajax({
              url: "show_tables/"+shop_id,
              type: "GET",
              dataType : "json",
              success: function(res){
            var table = '<table class="table table-striped"><tr><th>Table</th>'
            table+= '</tr><tbody>';
            var i=0;
            data = res
            for (i=0; i< data.length ; i++){
              table+='<tr>'
              table+="<td>"+ data[i].no_table+ "</td>"
              //table+= '<button type="button"> Delete </button> </div>' + "</td>"
              table+='</tr>'
            }
            table+='</tbody></table>'; 
            document.getElementById("selectTables").innerHTML= table;
              },
              error: function(xhr , status){
                document.write("<p>" +status+"</p>");
              }          

          });
        });
    </script>
      

      <!-- Add -->
      <form class="well form-search" id="addForm" method="post">

      <div class="col-md-4" id =submit>
        <button type="button">Add New Table</button>    
      </div>

        <script type="text/javascript">
        $("#submit").click(function() {
            
            var shop_id = localStorage.getItem('shop_id');

            var sendInfo = {
              shop_id : parseInt (shop_id)
             };

          $.ajax({
              url: "add_table",
              type: "POST",
                  dataType: 'json',
                  contentType: "application/json; charset=utf-8",
                  traditional: true,
              success: function(res){
                window.location.href = "tables";

              },
              error: function(xhr , status){
                document.write("<p>" +status+"</p>");
              },
              data: JSON.stringify(sendInfo)
          });
        });
      </script>
      </form>
    </div>
    <!-- JavaScript placed at the end of the document so the pages load faster -->
    <!-- Optional: Include the jQuery library -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

    <!-- Optional: Incorporate the Bootstrap Javascript plugins -->
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js"></script>
{% endblock %}


